* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    /* STYLE VARIABLES */
    --base: #262626;
    --base-content: #f5f5f5;
    --base-content-dim: #e5e5e5;
    --base-content-light: #fafafa;

    --primary: #fb923c;
    --primary-light: #fed7aa;

    --error: #dc2626;

    --border-radius: 15px;

    /* STRUCTURAL VARIABLES */
    --content-height: 500px;
    --map-width: 650px;
    --form-width: 350px;
    --border-radius: 10px;
}

html, body {
    margin: 0px;
    background-color: var(--base);
}

main {
    width: min(1000px, 100vw);
    height: var(--content-height);
    margin: 20px auto 15px;
    display: flex;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 16px;
}

/* CSS FOR HEADER */
header {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px 50px;
}

.header-logo-text {
    color: var(--base-content-dim);
}

.header-logo-icon {
    height: 40px;
}

.website-title {
    font-size: 32px;
    text-align: center;
    margin: 0px;
    margin-bottom: 10px;
    color: var(--base-content-light);
}

/* CSS FOR BIG ELEMENTS */
#map {
    width: var(--map-width);
    border-radius: var(--border-radius) 0px 0px var(--border-radius);
}

#locations {
    display: flex;
    flex-direction: column;
}

/* CSS FOR FORM */
#location-form {
    /* border-top: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary); */
    width: var(--form-width);
    background-color: var(--primary);
    padding: 5px 10px 10px;
    border-top-right-radius: var(--border-radius);
    color: var(--base-content);
    position: relative;
}

.location-form-title {
    margin: 0px;
    padding: 0px;
    margin-bottom: 4px;
    color: var(--base-content);
}

#location-form-inner {
    display: flex;
    align-items: center;
    gap: 4px;
}

.location-form-input, .location-form-btn {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    border-radius: 3px;
}

.location-form-input, .location-form-btn {
    height: 25px;
    border: none;
    box-sizing: border-box;
    border-radius: 2px;
}

.location-form-input {
    width: 250px;
    background-color: #fff7ed;
    font-size: 14px;
    padding: 0px 5px;
}

.location-form-btn {
    width: 25px;
    background-color: #fff7ed;;
    margin-left: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.location-form-btn:hover {
    background-color: #fed7aa;
}

.location-form-btn:active {
    background-color: var(--primary-light);
}

.location-form-btn-icon {
    height: 18px;
    filter: invert(62%) sepia(94%) saturate(746%) hue-rotate(331deg) brightness(99%) contrast(99%);
}

#location-form-error {
    position: absolute;
    top: 60px;
    left: 0;
    display: none;
    align-items: center;
    gap: 5px;
    padding: 4px 10px;
    color: var(--error);
    background-color: var(--primary);
}

/* ADJUST THIS FOR WEB BEFORE DEPLOYMENT!!! */
#location-form-error * {
    padding: 0px;
    margin: 0px;
}

.location-form-error-btn {
    height: 20px;
    width: 20px;
    color: var(--base-content);
    display: flex;
    align-items: center;
    justify-content: center;
}

.location-form-loading {
    display: none;
    height: 20px;
    margin-left: 5px;;
    animation: spin 3s linear infinite;
}

/* CSS FOR LOCATIONs */
#location-list {
    height: 100%;
    list-style: none;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    margin: 0px;
    overflow-y: scroll;
    background-color: var(--base-content);
    border-bottom-right-radius: var(--border-radius);
}

.location-item {
    max-width: var(--form-width);
    padding: 5px 10px;
}

/* isn't that some clever css? */
.location-item:not(:last-of-type) {
    border-bottom: 1px solid var(--base-content-dim);
}

.location-item:hover {
    background-color: var(--base-content);
}

.location-item * {
    margin: 0px;
}

.location-item-upper {
    display: flex;
    justify-content: space-between;
}

.location-item-title {
    color: #0a0a0a;
    margin-bottom: 4px;
}

.location-item-address {
    color: #525252;
}

.location-item-delete {
    border: none;
    background: none;
    display: none;
}

.location-item:hover .location-item-delete {
    display: block;
}

/* CSS FOR COPYRIGHT */
#copyright {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: end;
    color: var(--base-content-dim)
}

.copyright-link {
    text-decoration: none;
    color: var(--primary);
}

@keyframes spin {
    from {
        transform:rotate(360deg);
    }
    to {
        transform:rotate(0deg);
    }
}

@media screen and (max-width: 768px) {
    * {
        --form-width: 280px;
    }

    #map, #location-form, #location-list {
        border-radius: 0px !important;
    }

    #map {
        width: 100vw;
    }

    .location-form-input {
        width: 425px;
    }
}

@media screen and (max-width: 480px) {
    header {
        padding-left: 10px;
    }

    .website-title {
        display: none;
    }

    main {
        width: 100vw;
        height: auto;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        margin: 0px;
    }

    #map, #location-form, #location-list {
        border-radius: 0px !important;
    }

    #map {
        width: 100vw;
        height: 250px;
    }

    #locations {
        height: 100%;
        display: block;
    }

    #location-form {
        /* border-top: 1px solid var(--primary);
        border-bottom: 1px solid var(--primary); */
        width: 100vw;
        padding: 5px 10px 10px;
        box-sizing: border-box;
    }
    
    #location-form-inner {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    .location-form-input {
        width: 425px;
    }

    #location-list {
        height: calc(100vh - 430px);
    }
    
    .location-item {
        max-width: 100vw;
    }

    #copyright {
        margin-top: 10px;
    }
}